########################################
# PUBLIC ENV
########################################

NEXT_PUBLIC_SOCKET_SERVER_URL=

########################################
# BASE URL
########################################

BASE_URL=

########################################
# ENCRYPTION
########################################

CRYPTO_JS_KEY=

OAUTH_SERVER_URL=
OAUTH_SERVER_PUBLIC_URL=
BACKEND_SERVER_URL=